$violet-color: #8d81ac;
$font-lato: 'Lato', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  text-align: center;
  line-height: 37px;
  font-family: $font-montserrat;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0 auto;
  border: 1px solid transparent;
}
.btn:hover {
  border: 1px solid $violet-color;
  background-color: white;
  color: $violet-color;
}

.btn_violet {
  background-color: $violet-color;
}

.header__btn {
  min-width: 120px;
  height: 37px;
  padding: 0;

}

@media screen and (min-width: 481px){
  .btn {
    margin: 0;
  }
  .header__btn {
    margin-right: 10px;
  }

}