$violet-color: #8d81ac;
$font-lato: 'Lato', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$back-menu-color: #333333;

a {
  text-decoration: none;
}

.menu {
  position: fixed;
  right: -100vw;
  top: 102px;
  transition: right 0.5s ease-in-out;


  &__item {
    max-width: 480px;
    width: 100vw;
    height: 100px;
    background-color: $back-menu-color;
    border-bottom: 2px solid white;
    line-height: 100px;
    min-width: 320px;

    a {
      padding-left: 33px;
      display: block;
      width: 100%;
      height: 100%;
      color: white;
      box-sizing: border-box;
      font-family: $font-montserrat;
      font-size: 24px;


    }


  }

  a:hover {
    color: $violet-color;
  }

  a:hover::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 60px;
    background-color: $violet-color;
    position: relative;
    left: -33px;
    top: 20px;
  }
}

.move {
  right: 0;
}

@media screen and (min-width: 481px) {

  .menu {
    position: relative;
    right: 0;
    top: 35px;

    li {
      display: inline;
    }
  }


  .menu__item:nth-of-type(1) {
    display: none;
  }

  .menu__item {
    display: inline;
    width: 100%;
    border-bottom: none;
    height: 30px;
    background-color: #27262a;

    a {
      display: inline;
      font-size: 16px;
      padding: 0 15px;
      color: $violet-color;
      font-weight: bold;
    }
    a:hover {
      color: white;
    }
    a:hover::before {
      content: none;
    }
  }
}