$violet-color: #8d81ac;
$font-lato: 'Lato', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

@import "reset.min";
@import "btn-small";
@import "burger-menu-button";
@import "burger-menu-content";
@import "responsive_menu_content";


.header {
  margin: 0 auto;
  min-width: 320px;
  width: 100%;

  .container {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    height: 100px;
    background-color: #27262a;
    max-width: 1200px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__flex-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    justify-content: space-evenly;
  }

  &__burger-menu {
    display: inline-block;
  }

  &__burger-menu:hover + .menu {
    right: 0;
    z-index: 999;
  }

  .logo__logo-img {
    width: 43px;
    height: 41px;
    background-image: url("/build/img/shape_1.png");
    margin-left: 15px;
  }

  .logo__logo-img:hover {
    background-image: url("/build/img/shape_1_hover.png");
  }

  .logo__text {
    display: none;
    margin-left: 13px;
    font-family: $font-lato;
    font-size: 24px;
    color: $violet-color;

  }

  .logo__text:hover {
    color: white;
  }


  @media screen and (min-width: 401px) {

    .logo__text {

      display: block;
    }
    &__logo {
      display: flex;
      align-items: center;
    }
  }

  @media screen and (min-width: 481px) {

    &__burger-menu {
      display: none;
    }

    &__flex-wrapper {
      flex-direction: row-reverse;
      justify-content: flex-start;
    }

    .logo__logo-img {
      margin-left: 10px;
    }

    .container {
      height: 86px;
    }
  }
  @media screen and (min-width: 993px) {
    .container {
      height: 100px;
    }
  }

}


