$violet-color: #8d81ac;
$font-lato: 'Lato', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

@import "reset.min";
@import "btn-small";
@import "burger-menu-button";
@import "burger-menu-content";


.header {

  margin: 0 auto;
  min-width: 320px;
  width: 100vw;


  .container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    height: 100px;
    background-color: #27262a;
  }

  &__content {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__flex-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    justify-content: space-evenly;
  }

  &__burger-menu {
    display: inline-block;
  }

  .menu {
    display: inline-block;
  }
  .logo__text {
    display: none;
    margin-left: 13px;
    font-family: $font-lato;
    font-size: 24px;
    color: $violet-color;

  }

  @media screen and (min-width: 401px) {

    .logo__text {

      display: block;
    }
    &__logo {
      display: flex;
      align-items: center;
    }
  }
}


